*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0f3347;
}
:root{
--color1: #0f3347;
--color2: #0b2638;
--color3: #081a2a;
--color4: #040d1b;
--color5: #00000c;
--color6: #fff;
--color7: goldenrod;
}
::-webkit-scrollbar{
    display: none;
}
header{
    width: 100vw;
    height: 100%;
    padding: 10px 0px;
    display: flex;
    background-color: #081a2a;
    color: var(--color6);
    justify-content: space-around;
    align-items: center;
}
.ADB{
    width: 45px;
    height: 45px;
    background-color: var(--color7);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ADB img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.ADB img:hover{
    transform: rotate(-49deg);
    filter: brightness(80%);
}
.text-main h1{
    font-size: 1em;
    font-weight: 400;
}
.bar{
    width: 25px;
    height: 25px;
    background-color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
}
.bar i{
    transition: 0.7s;
}
.bar i:hover{
    transform: scale(1.1);
}
.sidebar{
    display: inline-block;
    position: relative;
    height: 100px;
    text-align: center;
    background-color: #081a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s ease-in-out;
    overflow: hidden;
}
.sidebar ul{
    list-style: none;

}
.sidebar li{
    width: 100vw;
    margin: 0px 0px 5px 0px;
    padding: 3px 0px;
    transition: 0.3s;
}
.sidebar a{
    color: white;
    text-decoration: none;
    transition: 0.7s;
}
.sidebar li:hover{
    background-color: #0f3347;
    padding: 5px;
}
.hidden{
    height: 0;
}
.visible{
    height: 15vh;
}
.hidden2{
    display: none;
}
.visible2{
    display: block;
}
.main-img{
    position: relative;
    width: 100%;
    height: 100%;

}
.main-img img{
    position: relative;
    width: 100vw;
    height: 50vh;
    background-size: cover;
    filter: brightness(50%);
    object-fit: cover;
}
.text-img h1{
    position: absolute;
    width: 100%;
    padding: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-indent: 40px;
    font-size: 1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container {
    position: relative;
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 0px;
}
.container iframe {
    width: 100vw;
    height: 50vh;
    border: none;
}
.container iframe:hover{
    filter: brightness(50%);
}
.navbar{
    display: none;
}
.navbar ul{
    list-style: none;
    display: flex;
}
.navbar li{
    margin: 0px 10px;
    font-size: 1.8em;
}
.navbar a{
    text-decoration: none;
    color: white;
    transition: 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.navbar a:hover{
    color: goldenrod;
}

.contribua{
    width: 100vw;
    height: 100%;
    display: block;
    padding: 15px;
    display: flex;
    align-items: center;
}
.contribua .donate{
    width: 100vw;
    height: 100%;
    max-width:700px;
    background-color: white;
    color: var(--color1);
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    transition: 0.7s;
}
.card-donate button{
    width: 90%;
    max-width: 300px;
    height: 100%;
    border: none;
    background-color: var(--color1);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
}
.card-donate a{
    color: white;
    text-decoration: none;
}
.card-donate img{
    width: 100%;
    object-fit: contain;
    max-width: 300px;
}
/*QRcode*/
.contribua .qrcode img{
    width: 100%;
    object-fit: contain;

}
.btn-donate{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-donate button{
    padding: 15px;
    width: 100%;
    background-color: var(--color7);
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 5px;
    text-align: center;
    max-width: 700px;
    font-size: 1.5em;
}
.container-members{
    position: relative;
    width: 100vw;
    height: 100%;
    background-color: var(--color4);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    gap: 15px;
}
.new-members{
    position: relative;
    width: 100%;
    max-width: 250px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    line-height:25px;
    display: block;
    background-position: top center;
    margin: auto;
}
.new-members h3{
    color: var(--color7);
    text-decoration: underline;
}
.new-members img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.new-members button{
    position: absolute;
    width: 100%;
    height: 58px;
    left: 0;
    bottom: 0;
    color: #00000c;
    text-align: center;
    background-color: var(--color1);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    transition: 0.7s;
}
.new-members button:hover{
    background-color: #081a2a;
}
.biblia iframe{
    width: 100vw;
    height: 100vh;
}
.spouse{
    position: relative;
    width: 100%;
    max-width: 250px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    line-height:25px;
    display: block;
    background-position: top center;
    margin: auto;
}
.spouse img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.spouse button{
    position: absolute;
    width: 100%;
    height: 58px;
    left: 0;
    bottom: 0;
    color: #00000c;
    text-align: center;
    background-color: var(--color1);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    transition: 0.7s;
}
